@use 'variables' as *;
@use 'sass:color';

.cta {
  padding: 80px 0;
  background-color: $color-primary; 
  color: #ffffff;
  text-align: center;

  &__title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 18px;
    margin-bottom: 30px;
    opacity: 0.9;
  }

  &__btn {
    background-color: $color-accent;
    color: #333;

    &:hover {
      background-color: color.adjust(#d2ad32, $lightness: -10%);
      opacity: 1; 
    }
  }

  @media (max-width: 768px) {
  .cta { padding: 50px 0; }
}
}